<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Cadastrar</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>

	<div class="container" style="padding-top: 3%;">
		<div class="row d-flex justify-content-center">
			<div class="col-md-6">
				<form action="/cadastrar" method="POST" accept-charset="utf-8">
					<div class="card card-prop mx-auto" style="background-color: #27293d;">
						<h4 class="card-title text-white text-center mb-3 mt-4">Cadastrar consulta</h4>
						<div class="card-body">
							<label class="text-white mb-2" style="font-size: 17px;">Nome:</label>
							<input type="text" name="name" placeholder="Nome do paciente" class="mb-2 form-control input-contact">
							<label class="text-white mb-2" style="font-size: 17px;">E-mail:</label>
							<input type="text" name="email" placeholder="E-mail do paciente" class="mb-2 form-control input-contact">
							<label class="text-white mb-2" style="font-size: 17px;">CPF:</label>
							<input type="text" name="cpf" placeholder="CPF do paciente" class="mb-2 cpf form-control input-contact">
							<label class="text-white mb-2" style="font-size: 17px;">Descrição:</label>
							<textarea name="description" class="form-control input-contact mb-2" placeholder="Descrição do agendamento"></textarea>
							<label class="text-white mb-2" style="font-size: 17px;">Seleciona a Data:</label>
							<input type="date" name="date" class="form-control input-contact mb-2">
							<label class="text-white mb-2" style="font-size: 17px;">Horas:</label>
							<input type="time" name="time" class="form-control input-contact mb-3">
							<center>
								<button type="submit" class="btn btn-rounded mt-2 text-center" style="width: 60%; font-size: 17.9px;">Cadastrar</button>
							</center>
						</div>			
					</div>
				</form>
			</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	<script src="jquery.mask.min.js"></script>
	<script>
		$(document).ready(function(){
			$('.cpf').mask('000.000.000-00');
		})
	</script>
</body>
</html>